encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age169acmw5nd590yl8fesgxgm8l3jt5trjd0ehu4e8c3zgd08leagqqzxl0qk"

{{ join .chezmoi.sourceDir "encrypted_dot_secrets.toml.age" | include | decrypt }}

[git]
    autoAdd = true
    autoPush = true
    name = "{{ if eq .chezmoi.hostname "machine1" }}John Doe{{ else }}Jane Doe{{ end }}"
    email = "{{ if eq .chezmoi.hostname "machine1" }}john@example.com{{ else }}jane@example.com{{ end }}"


[data.secrets]
    password = "{{ .secrets.password }}"

