encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age169acmw5nd590yl8fesgxgm8l3jt5trjd0ehu4e8c3zgd08leagqqzxl0qk"

[data]
    user = "user"
    machine = "user-940XFG"

[git]
    autoCommit = true
    autoPush = true
    name = "Jane Doe"
    email = "jane@example.com"

