{{ if (eq .osid "linux-ubuntu") -}}
#!/bin/bash
set -eufo pipefail

sudo rm /etc/apt/apt.conf.d/20apt-esm-hook.conf
sudo touch /etc/apt/apt.conf.d/20apt-esm-hook.conf
sudo systemctl disable ubuntu-advantage
sudo apt-get --assume-yes --purge remove ubuntu-advantage-tools

{{ end -}}