{{ if (eq .chezmoi.hostname "delta") -}}

#!/bin/bash
set -euo pipefail

# Check if Dropbox is already installed
if command -v dropboxd &> /dev/null; then
    echo "## Dropbox is already installed. Exiting..."
    exit 0
fi

# Update package index
echo "## dropbox install updating package index..."
sudo apt-get update
sudo apt-get install -y wget libpango1.0-0

# Download Dropbox package
echo "## Downloading Dropbox package..."
wget -O dropbox.deb https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2020.03.04_amd64.deb

# Install Dropbox package
echo "## Installing Dropbox package..."
sudo dpkg -i dropbox.deb || sudo apt-get install -f -y

# Clean up
echo "## Cleaning up..."
rm dropbox.deb

echo "## Dropbox installation completed successfully."
{{ end -}}