{{ if (and (not .ephemeral) (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

fc-cache

gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
gsettings set org.gnome.desktop.input-sources xkb-options "['caps:escape']"

gsettings set org.gnome.Terminal.Legacy.Settings default-show-menubar false
gsettings set org.gnome.shell.extensions.ding show-home false
gsettings set org.gnome.shell.extensions.ding show-trash false
# gsettings set org.gnome.shell.extensions.ding show-volumes false

# https://bugs.launchpad.net/ubuntu/+source/gnome-shell/+bug/1878953
gsettings set org.gnome.mutter.keybindings switch-monitor "[]"
{{ end -}}
